spring:
  profiles:
    default: local

  datasource:
    url: jdbc:h2:mem:sss
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: none


jwt:
  header: Authorization
  access-secret: bG9uZy10ZXJtLW1lbW9yeS1wcm9qZWN0LXdpdGgtand0LXNwcmluZy1zZWN1cml0eS11c2luZy1zZWNyZXQta2V5LW1hZGUtYnktYW1lbmFibGUtbGV0LXVzLWdldC1pdC1zdGFydGVkCg==
  refresh-secret: dGhpcy1pcy10aGUtc3BlY2lhbC1zdXJ2ZXktc2VydmljZS1tYWRlLWJ5LXNpeC1kZXZlbG9wZXItaXQtY2FuLWJlLXRoZS1iZXN0LXNlcnZpY2UtaW4tNy10ZWFtCg==
  access-token-validity-in-seconds: 3600 # 1시간 3600
  refresh-token-validity-in-seconds: 1296000 # 15일 1296000

apikey:
  iamport-apikey: 7343166512186774
  iamport-secretkey: AFgMzlcN1niQMqo4QjGlV7hyBuQOmuKFnKHqtHRzeCme37sbo6b8zKRhfAMtQKzX5BgPSrbE0pfdAEDK
  iamport-storekey: imp36635434
  naver-accesskey: mgIU1Z68m4jAneZU7f37
  naver-secretkey: DpDVZgrDqbK5neoRR9oqlAAReOn6vBPzAmsMEBvj
  naver-message-servickey: ncp:sms:kr:299147416082:supersurveyservice


---
spring:
  config:
    activate:
      on-profile: local

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

  h2:
    console:
      enabled: true

---
spring:
  config:
    activate:
      on-profile: test

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never
apikey:
  iamport-apikey: 7343166512186774
  iamport-secretkey: AFgMzlcN1niQMqo4QjGlV7hyBuQOmuKFnKHqtHRzeCme37sbo6b8zKRhfAMtQKzX5BgPSrbE0pfdAEDK
  iamport-storekey: imp36635434
  naver-accesskey: mgIU1Z68m4jAneZU7f37
  naver-secretkey: DpDVZgrDqbK5neoRR9oqlAAReOn6vBPzAmsMEBvj
  naver-message-servickey: ncp:sms:kr:299147416082:supersurveyservice
---
spring:
  config:
    activate:
      on-profile: prd

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USER_NAME}
    password: ${DB_USER_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

logging:
  level:
    root: INFO
  file:
    name: logs/basic.log
  logback:
    rolling-policy:
      file-name-pattern: "logs/basic.%d{yyyy-MM-dd}.%i"
      max-history: 30
